.search {
  background: var(--gray);
  padding-bottom: 2rem;
  /* position: relative; */
}

.search__box {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border-radius: 0.5rem;
  background-color: var(--darkViolet);
  position: relative;
  z-index: 0;
  overflow: hidden;
}

.search__error {
  color: var(--secondaryRed);
  font-size: 1.2rem;
  line-height: 0;
  margin-top: -1rem;
}

.search__box::before {
  content: " ";
  position: absolute;
  background: url("../../assets/images/bg-shorten-mobile.svg") right/cover
    no-repeat;
  width: 100%;
  height: 100%;
  top: -6.2rem;
  right: -12.2rem;
  z-index: -1;
}

.search__wrapper {
  width: 100%;
  margin: 0 auto;
  /* position: absolute;
  bottom: -10%; */
  transform: translateY(-50%);
  /* left: 50%;
  
  z-index: 4; */
}

.search__results_container {
  margin: 0 auto;
  width: min(90%, 120rem);
  margin-top: -8rem;
}

.search__input {
  padding: 1rem 3rem;
  border-radius: 0.5rem;
  border: 2px solid transparent;
  outline: none;
}

.search__input:focus {
  border: 2px solid var(--primaryCyan);
}

.error__input {
  border: 2px solid var(--secondaryRed);
}

.search__input:focus {
  outline: none;
}

.search__input::placeholder {
  font-size: 1.6rem;
  color: var(--neutralGray);
}

@media screen and (min-width: 48em) {
  .search__box {
    padding: 4rem 6rem;
    flex-direction: row;
  }

  .search__box::before {
    content: " ";
    background: url("../../assets/images/bg-shorten-desktop.svg") right/cover
      no-repeat;
    top: 0;
    right: 0;
  }

  .search__input {
    flex: 70%;
    position: relative;
  }

  .search__error {
    position: absolute;
    bottom: 3.2rem;
    left: 6rem;
  }

  .search__results_container {
    margin: 0 auto;
    width: min(90%, 120rem);
    margin-top: -6rem;
  }
}
